.btn-primary[data-v-40fcc110]{background-color:var(--bg-surface-secondary);color:var(--text-primary);border:1px solid var(--border);transition:all .2s}.btn-primary[data-v-40fcc110]:hover{background-color:var(--bg-surface-tertiary)}
